<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapka</title>
</head>
<body>
  <h1>Mapka - Кружки</h1>
  <div>
    <% clubs.forEach(club => { %>
      <div>
        <h2><%= club.name %></h2>
        <p><%= club.description %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>
